 @font-face {
  font-family:aqj;
  src: url(https://gitlab.com/senthil3/kaigalwebsitev2.3/-/raw/master/KaigalWebsite/candidate/assets/fonts/aqj.ttf);
}
@font-face {
  font-family:chem13;
  src: url(https://gitlab.com/senthil3/kaigalwebsitev2.3/-/raw/master/KaigalWebsite/candidate/assets/fonts/chem13.ttf);
}
@font-face {
  font-family:chem16;
  src: url(https://gitlab.com/senthil3/kaigalwebsitev2.3/-/raw/master/KaigalWebsite/candidate/assets/fonts/chem16.ttf);
}
@font-face {
  font-family:SUNTOMMY;
  src: url(https://gitlab.com/senthil3/kaigalwebsitev2.3/-/raw/master/KaigalWebsite/candidate/assets/fonts/SUNTOMMY.ttf);
}
*{
  padding: 0;
  margin:0; 
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}
[data-aos][data-aos][data-aos-easing=ease-out], body[data-aos-easing=ease-out] [data-aos] {
  transition-timing-function: ease-out;
}
[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}
[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity,transform;
}
[data-aos=fade-up] {
  transform: translate3d(0px,150px,0);
}

.heading-font{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.subheading-font{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 26px;
}
.para-font{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.button-font{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.banner{
  background-color: #2C2A7A;
  padding: 6% 0% 0% 0%;
  /*height: 100vh;*/
}
.banner h1{
  font-size: 2.8vw;
  margin-top: 10%;
  color: #F7881C;
}
.banner h2{
  font-size: 2.3vw;
  margin-top: 3%;
  font-weight: 400;
}
.banner .button{
  background-color:#fff;
  padding:1%;
  font-size:1.4vw;
  margin:5% 0%;
  width:auto;
  text-align:left;
  border:0px;
  cursor: text !important;
  box-shadow: none;
  border-radius:0px;
  color:#2C2A7A;
}

.banner .button:hover{
  color:#2C2A7A;
}
.banner p{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.banner img{
  float: right;
}
.banner .input-group{
  width: 55%;
  margin-top: 20%;

}
.input-group-text{
  font-size: 18px;
  /*background-color: red;*/
  color: #fff;
  border-radius: 0px;
  background-image: linear-gradient(to right, #FBAA19, #EE3124);
}
.banner input{
  background-color:#fff;
  border-radius: 0px;

}
.problem-sec{
  background-color: #fff;
  padding: 5% 0% 0% 0% ;
}
.problem-sec h1{
 font-size: 2.8vw;
 color: #000;
 margin-top: 3%;
 font-weight: 700;
}
.problem-sec h4{
  font-size: 1.8vw;
  color: #000;
  font-weight: 400;
}
.problem-sec ul{
  color: #000;
  margin-top: 4%;
}
.problem-sec ul li{
 font-size: 1.1vw;
 padding: 1% 0%;
}       
.solve-sec{
  background-color: #fff;
  padding: 0% 0% 0% 0% ;
}
.solve-sec h1{
 font-size: 2.8vw;
 margin-top: 0%;
 color: #000;
 font-weight: 700;
}
.solve-sec h4{
  font-size: 1.8vw;
  color: #000;
  font-weight: 400;
}
.solve-sec ul{
 color: #000;
 margin-top: 2%;
}
.solve-sec ul li{
  font-size: 1.1vw;
  color: #000;
  padding: .5% 0%;
}
.thead{
 background-image: linear-gradient(to right, #FBAA19, #EE3124);
 color: #fff;
}
tr{
  color: #fff;
  font-size: 18px
}

.story-sec{
  background-color: #fff;
  padding: 5% 0% 0% 0% ;
}
.story-sec h1{
 font-size: 2.8vw;
 margin-top: 0%;
 font-weight: 400;
}
.story-sec h1 span{
 font-weight: 700;
 /*font-size: 50px;*/
}
.story-sec .story-para{
  font-size: 1vw; 
}
.waviy {
  position: relative;
  /*-webkit-box-reflect: below -20px linear-gradient(transparent,rgb(249, 156, 26,0.1));*/
  margin-top: 6%;
  letter-spacing: 0px !important;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: #fff;
  letter-spacing: 0px !important;
  font-weight: bold;
  text-transform: uppercase;
  animation: flip 1s infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes flip  {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.circle div{
  position: absolute;
  width: 60px;
  height:60px;
  background-color: transparent;
  border:5px solid #EF3624;
  /*border-radius: 50%;*/
}
.circle div:nth-child(1){
  top:12%;
  left:42%;
  animation: animate 10s linear infinite;
}
.circle div:nth-child(2){
  top:70%;
  left:50%;
  animation: animate 7s linear infinite;
}
.circle div:nth-child(3){
  top:17%;
  left:6%;
  animation: animate 9s linear infinite;
}
.circle div:nth-child(4){
  top:20%;
  left:60%;
  animation: animate 10s linear infinite;
}
.circle div:nth-child(5){
  top:67%;
  left:10%;
  animation: animate 6s linear infinite;
}
.circle div:nth-child(6){
  top:80%;
  left:70%;
  animation: animate 12s linear infinite;
}
.circle div:nth-child(7){
  top:60%;
  left:80%;
  animation: animate 15s linear infinite;
}
.circle div:nth-child(8){
  top:32%;
  left:25%;
  animation: animate 16s linear infinite;
}
.circle div:nth-child(9){
  top:90%;
  left:25%;
  animation: animate 9s linear infinite;
}
.circle div:nth-child(10){
  top:20%;
  left:80%;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%{
    transform:scale(0) translateY(0) rotate(0);
    opacity:1;
  }
  100%{
    transform:scale(1.3) translateY(-90px) rotate(360deg);
    opacity:0 ;
  }
}
  /*  .area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}
*/
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.form-control{
  background-color: #E2E2E2;
  border-radius: 0px;
  color:#000;
}

.contact-sec a{
  text-decoration:none;color:#fff
}
.contact-sec h1{
  font-size: 2vw;
}
.contact-sec p{
  font-size: 1.1vw !important;
}

.footer-bg{
  background-image:url(https://gitlab.com/senthil3/kaigalwebsitev2.3/-/raw/master/KaigalWebsite/candidate/assets/images/footer-bg.png);
  background-size:cover;
  background-position:left;
  background-repeat:no-repeat;
  padding:3% 0%
}
.footer-link{
  color:#fff;text-decoration:none;font-size:20px;
}
.form-text{
  font-size: 18px
}
.submit-btn{
 background-image: linear-gradient(to right, #FBAA19, #EE3124);
 border-radius: 0px;
 font-size: 24px;
 color: #fff;
 border:0px
}
.reset-btn{
  background-color: #E2E2E2;
  border-radius: 0px;
  font-size: 24px;
  color: #000;
  border:1px solid black;
}
.traslation-para{
  position:fixed;
  top:.5%;
  right:3%;
  color:#fff;
  font-size: 14px !important
}
.banner-margin{
  margin-left: 25%;
}
.nav-link{
  font-size: 16px;
}
nav{
  background-color: #231E61
}
.climb-text-margin, .climb-text-margin-em{
  margin-top: 30% !important;
}

@media only screen and (max-width: 1400px){
  .story-sec h1{
   font-size: 3.4vw;
 }
 .climb-text-margin, .climb-text-margin-em{
  margin-top: 10% !important;
}
 .story-sec .story-para{
  font-size: 1.1vw; 
}
.story-sec{
  background-color: #fff;
  padding: 7.5% 0% 2% 0% ;
}
.banner-margin{
  margin-left: 13%;
}
.banner h1{
  font-size: 2.6vw;
  margin-top: 10%
}
.banner h2{
  font-size: 2.1vw;
  margin-top: 3%;
  font-weight: 400;
}
.banner .button{
  font-size: 1.5vw;
}

.problem-sec h1{
 font-size: 3.4vw;
}
.problem-sec h4{
 font-size: 2.1vw;
}
.problem-sec ul li{
  font-size: 1.2vw;
}

.solve-sec h1{
 font-size: 3.4vw;
}
.solve-sec h4{
 font-size: 2.2vw;
}
.solve-sec ul li{
  font-size: 1.1vw;
}

.contact-sec h1{
  font-size: 3.4vw;
}
.contact-sec p{
  font-size: 1.3vw !important;
}
}

@media only screen and (max-width: 992px){
  .banner h1{
    font-size: 4.2vw;
    text-align: center;
  }
   .climb-text-margin, .climb-text-margin-em{
  margin-top: 30% !important;
}
  .nav-link{
    font-size: 13px;
  }
  .banner{
    text-align: center;
  }
  .banner-margin{
    margin-left: 0%;
  }
  .nav-link{
    font-size: 13px;
  }
  .banner h2{
    font-size: 3.5vw;
    text-align: center;
  }
  .banner .button{
    font-size: 2.2vw;
    text-align: center;
  }
  .story-sec{
  padding: 6% 0% 0% 0% ;
}
.problem-sec{
  padding: 6% 0% 0% 0% ;
}
  .story-sec h1{
   font-size: 4.3vw;
 }
 .story-sec .story-para{
  font-size:1.7vw; 
}
.problem-sec h1{
 font-size: 4.3vw;
}
.problem-sec h4{
 font-size: 3vw;
}
.problem-sec ul li{
  font-size: 1.9vw;
}
.program-sec-margin{
  margin-left: 3%;
}
.program-sec-margin{
  margin-left: 3%;
}
.solve-sec h1{
 font-size: 4.3vw;
}
.solve-sec h4{
 font-size: 3vw;
}
.solve-sec ul li{
  font-size: 1.7vw;
}
.contact-sec h1{
  font-size: 4vw;
}
.contact-sec p{
  font-size: 1.5vw !important;
}
.cta{
  text-align: center;
}
}

@media only screen and (max-width: 767px){
 .banner h1{
  font-size: 5vw;
}
.nav-link{
  font-size: 16px;
}
.banner{
  padding-top: 12%
}
.nav-link{
  font-size: 17px;
}
nav ul{
  padding-bottom: 3%;
  padding-top: 3%;
} 
.banner h2{
  font-size: 4.5vw;
}
.banner .button{
  text-align: center;
  font-size: 2.8vw;
}
.problem-sec h1{
 font-size: 5.3vw;
}
.problem-sec h4{
 font-size: 4.1vw;
}
.problem-sec ul li{
  font-size: 3.2vw;
}
.problem-sec{
  padding: 13% 0% 0% 0% ;
}
 .story-sec{
  padding: 13% 0% 0% 0% ;
}
.solve-sec h1{
 font-size: 5.3vw;
}
.solve-sec h4{
 font-size: 4.1vw;
}
.solve-sec ul li{
  font-size: 3.2vw;
}
.story-sec h1{
 font-size: 5.6vw;
}
.story-sec .story-para{
  font-size:3.1vw; 
}
.contact-sec h1{
  font-size: 5.3vw;
  margin-left: 1% !important;
}
.contact-sec p{
  font-size: 16px !important;
  margin-left: 1% !important
}

.traslation-para{
  position:fixed;
  top:3.8%;
  right:25%;
  color:#fff;
  font-size: 14px !important
  }}

  @media only screen and (max-width: 575px){
   .banner h1{
    font-size: 5.7vw;
    text-align: center;
  }
  .banner{
    padding-top: 14%
  }
  .banner h2{
    font-size: 5.3vw;
    text-align: center;
  }
  .banner .button{
    text-align: center;
    font-size: 3.9vw;
  }
  .problem-sec h1{
   font-size: 7.7vw;
   margin-top: 6%;
 }
 .problem-sec h4{
   font-size: 5.4vw;
 }
 .problem-sec ul li{
  font-size: 3.9vw;
}
.problem-sec ul li, .solve-sec ul li{
  padding: 2% 0%;
}
.solve-sec{
 margin-top: -25% !important;
}
.solve-sec h1{
 font-size: 7.7vw;
}
.solve-sec h4{
 font-size: 5.3vw;
 margin-top: 4%;

}
.solve-sec ul li{
  font-size: 3.8vw;
}
 .story-sec{
  padding: 20% 0% 0% 0% ;
}
.problem-sec{
  padding: 18% 0% 0% 0% ;
}
.story-sec h1{
 font-size:7.7vw;
}
.story-sec .story-para{
  font-size:3.7vw; 
  text-align: justify;
}
.contact-sec h1{
  font-size: 7.5vw;
  margin-top: 2%;
  margin-left: 2% !important
}
.contact-sec p{
  font-size: 3.5vw !important;
  margin-left: 2% !important
}
.logo-footer{
  width: 25%;
}
.footer-bg{
  background-position:right;
}
.footer-link{
  margin-left: 5%;
}
.form-text{
  font-size: 16px;
  text-align:justify;
}
.submit-btn, .reset-btn{
  font-size: 16px;
}
}

@media only screen and (max-width: 400px){
 .banner h1{
  font-size: 6.5vw;
}
.banner h2{
  font-size: 5.8vw;
}
.banner{
  padding-top: 25%
}
.banner .button{
  text-align: center;
  font-size: 4.6vw;
}
.problem-sec h1{
 font-size: 8.4vw;
}
.problem-sec h4{
 font-size: 5.9vw;
}
.problem-sec ul li{
  font-size: 4.4vw;
}
.solve-sec h1{
 font-size: 8.4vw;
}
.solve-sec h4{
 font-size: 5.9vw;
 margin-top: 6%;

}
.solve-sec ul li{
  font-size: 4.4vw;
}
.story-sec h1{
 font-size:8.4vw;
}
.story-sec .story-para{
  font-size:4.3vw;
  text-align: justify;
}
.contact-sec h1{
  font-size: 7.5vw;
}
.contact-sec p{
  font-size: 3.5vw !important;
}
.submit-btn, .reset-btn{
  font-size: 4vw;
}
}
